@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.era{
	font-variant: all-small-caps;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

#chapter-26 blockquote:last-of-type,
#chapter-33 blockquote{
	font-variant: small-caps;
}

#chapter-31 blockquote>p:nth-child(1),
#chapter-31 blockquote>p:nth-child(4),
#chapter-31 blockquote>p:nth-child(8),
#chapter-31 blockquote>p:nth-child(10),
#chapter-31 blockquote>p:nth-child(13),
#chapter-31 blockquote>p:nth-child(17){
	margin: 0.5em 0;
}

#chapter-31 blockquote>p:nth-child(1),
#chapter-31 blockquote>p:nth-child(2),
#chapter-31 blockquote>p:nth-child(4),
#chapter-31 blockquote>p:nth-child(7),
#chapter-31 blockquote>p:nth-child(8),
#chapter-31 blockquote>p:nth-child(10),
#chapter-31 blockquote>p:nth-child(13),
#chapter-31 blockquote>p:nth-child(17){
	text-align: center;
}
