@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

abbr.temperature,
abbr.era{
	font-variant: all-small-caps;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

#chapter-11 p:nth-child(4){
	margin: 0.5em 0;
	text-align: center;
	font-style: italic;
}

#chapter-26 blockquote:last-of-type,
#chapter-33 blockquote{
	font-variant: small-caps;
}

#chapter-31 blockquote>p:nth-child(1),
#chapter-31 blockquote>p:nth-child(4),
#chapter-31 blockquote>p:nth-child(8),
#chapter-31 blockquote>p:nth-child(10),
#chapter-31 blockquote>p:nth-child(13),
#chapter-31 blockquote>p:nth-child(17){
	margin: 0.5em 0;
}

#chapter-31 blockquote>p:nth-child(1),
#chapter-31 blockquote>p:nth-child(2),
#chapter-31 blockquote>p:nth-child(4),
#chapter-31 blockquote>p:nth-child(7),
#chapter-31 blockquote>p:nth-child(8),
#chapter-31 blockquote>p:nth-child(10),
#chapter-31 blockquote>p:nth-child(13),
#chapter-31 blockquote>p:nth-child(17){
	text-align: center;
}
